{% extends "layout.html" %}
{% block title %}
    Delete Table
{% endblock %}

{% block main %}
    <div class="text-center justify-content-between">
        <h1>Delete table {{Table[0]["TableName"]}}?</h1>
        <h2>This action <span class="error">CANNOT</span> be undone</h2>

    <form action="" method="post">
        <button class="btn btn-danger" type="submit" name="choice" value="Yes">Yes</button>
        <button class="btn btn-success" type="submit" name="choice" value="No"> No</button>
    </form>
    </div>
{% endblock %}