{% extends "layout.html" %}
{% block title %}
    Edit Table 
{% endblock %}

{% block main %}
<!--Show Table Information-->
<a href="/" class="text-right">Back to tables</a>
<h1>Edit Table</h1>
<h4>Table: {{TableInfo[0]["TableName"]}}</h4>
<form action="" method="post">
    <input autocomplete="off" id="TableName" name="TableName" placeholder="TableName" value="{{TableInfo[0]["TableName"]}}" type="text">
    <button class="btn btn-primary" type="submit" name="action" value="RenameTable">Rename Table</button>
</form>
<h4>Table ID: {{TableInfo[0]["TableID"]}}</h4>

<!--Option to delete the table-->
<form action="/DeleteTable">
    <input type="hidden" value="{{TableInfo[0]["TableID"]}}" name="table">
    <button class="btn btn-primary" type="submit">Delete Table</button>
</form>
   <!--Display Table Contents-->
<form action="" method="post">
    <table class="table">
        <thead>
            <tr>
                <th><button class="btn btn-primary" type="submit" name="action" value="UpdateTable">Update Table</button></th>
                <th>Name</th>
                <th>Entries</th>
                <th><button class="btn btn-primary" type="submit" name="action" value="DeleteSelected">Delete Selected</button></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <!--Show Entries info and option to delete-->
                    <input type="hidden" value="{{data["NameID"]}}" name="ID">
                    <!--DeleteID to allow selectable deletion While allowing update to update the whole table-->
                    <td>-</td>
                    <td><input autocomplete="off" type="text" value="{{data["Name"]}}" name="Name"></td>
                    <td><input autocomplete="off" type="Number" value="{{data["Entries"]}}" name="Entries"></td>
                    <td><input type="checkbox" name="DeleteID" value="{{data["NameID"]}}"></td>
            </tr>
            {% endfor %}
        </form>
            <tr>
                <!--Add a Person to the Entry list-->
                <form action="" method="post">
                    <td>-</td>
                    <td><input autocomplete="off" id="AddName" name="AddName" placeholder="Name" type="text"></td>
                    <td><input autocomplete="off" id="AddEntries" name="AddEntries" placeholder="Entries" type="Number"></td>
                    <td><button class="btn btn-primary" type="submit" name="action" value="AddPerson">Add</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</form>


<!--Generate the data to be copyable to wheel of names-->
<!-- Minus symbol used to remove white spaces-->
<script src="/static/copy.js"></script>
<textarea id="generate">
{%for generate in data-%}
{%for i in range(generate["Entries"])-%}
{{generate["Name"]}}
{%endfor-%}
{%endfor-%}
</textarea>
<br>
<button onClick="Copy()">Copy</button>
<br>
<a href="https://wheelofnames.com/">Go to Wheel of Names</a>



<!--Option to change the table into Public Table and Vice versa-->
<form action="" method="post">
    {% if (TableInfo[0]["IsPublic"] == 1) %}
    <p>This table is in Public</p>
    <button class="btn btn-primary" type="submit" name="action" value="ChangePublicity">Change to Private</button>
    <p>share the table at</p>
    <!--to be replaced with domain name in the future-->
    <input type="text" value="http://127.0.0.1:5000/view?table={{TableInfo[0]["TableID"]}}">
    {% else %}
    <p>This table is Private</p>
    <button class="btn btn-primary" type="submit" name="action" value="ChangePublicity">Change to Public</button>
    {% endif %}
</form>

    {% endblock %}
