{% extends "layout.html" %}
{% block title %}
    Main Menu 
{% endblock %}
{% block main %}
    <h2>Select Table</h2>
    <form action="/create" method="post">
        <p>Create a table</p>
        <div>
            <input autocomplete="off" id="TableName" name="TableName" placeholder="Name of Table" type="text">
            <button class="btn btn-primary" type="submit">Create Table</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Tables</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {% for choice in choices %}
                <tr>
                    <td><a href="/edit?table={{choice["TableID"]}}" class="text-black">{{choice["TableName"]}}</a></td>
                    <td><a href="/edit?table={{choice["TableID"]}}"><button class="btn btn-primary">Edit Table</button></a></td>
                    <td><a href="/CopyTable?table={{choice["TableID"]}}"><button class="btn btn-primary">Copy Table</button></a></td>
                    <td><a href="/DeleteTable?table={{choice["TableID"]}}"><button class="btn btn-primary"> Delete Table </button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}